<div class="column is-one-quarter">
    <nav class="panel"></nav>
    <p class="panel-heading">Trends</p>
    <a class="panel-block" href="">
        Trend 1
    </a>
    <a class="panel-block" href="">
        Trend 2
    </a>
    <a class="panel-block" href="">
        Trend 3
    </a>
    <a class="panel-block" href="">
        Trend 4
    </a>
    <a class="panel-block" href="">
        Trend 5
    </a>
    <a class="panel-block" href="">
        Trend 6
    </a>
</div>