<div class="column is-one-quarter">
  <nav class="panel"></nav>
  <p class="panel-heading">Trends</p>
  <a class="panel-block" href="">
    #Wordle
  </a>
  <a class="panel-block" href="">
    #Coachella
  </a>
  <a class="panel-block" href="">
    #TheSimpsons
  </a>
  <a class="panel-block" href="">
    #CrossFitGames
  </a>
  <a class="panel-block" href="">
    #WorldCup
  </a>
  <a class="panel-block" href="">
    #criptomonedas
  </a>
</div>