<p style="color: green"><%= notice %></p>

<h1>Tweeets</h1>

<div id="tweeets">
  <% @tweeets.each do |tweeet| %>
    <%= render tweeet %>
    <p>
      <%= link_to "Show this tweeet", tweeet %>
    </p>
  <% end %>
</div>

<%= link_to "New tweeet", new_tweeet_path %>
